In [24]:
import pandas as pd 
import numpy as np


mr = pd.read_excel("..\Data\Tabular\All_Raagams.xlsx")

# mr = mr[mr['Melakarta']==1]
mr = mr[~mr['AAROHANAM'].isnull()]
mr['path'] = mr['AAROHANAM'].apply(lambda x: str(x).replace("\xa0","-"))
mr['avro_path'] = mr['AVAROHANAM'].apply(lambda x: str(x).replace("\xa0","-"))
mr['pali'] = mr.apply(lambda x: x['path'].split("-") == x['avro_path'].split("-")[::-1] ,axis=1)
mr['value'] = 1
mr['raaga'] = mr['Raga Name']
mr['Raga_Rank'] = mr['Melakarta'].fillna(0).cumsum()
mr.to_csv("..\Data\Tabular\Raagams.csv", index = False)

<>:5: SyntaxWarning: invalid escape sequence '\D'
<>:15: SyntaxWarning: invalid escape sequence '\D'
<>:5: SyntaxWarning: invalid escape sequence '\D'
<>:15: SyntaxWarning: invalid escape sequence '\D'
C:\Users\vishg\AppData\Local\Temp\ipykernel_36824\4017741793.py:5: SyntaxWarning: invalid escape sequence '\D'
  mr = pd.read_excel("..\Data\Tabular\All_Raagams.xlsx")
C:\Users\vishg\AppData\Local\Temp\ipykernel_36824\4017741793.py:15: SyntaxWarning: invalid escape sequence '\D'
  mr.to_csv("..\Data\Tabular\Raagams.csv", index = False)

In [20]:
mr

,Raga Name Raw,Raga Name,AAROHANAM,AVAROHANAM,Melakarta,Melakarta Name,path,value,raaga,Raga_Rank
0,1 Kanakāngi (Janaka raga),Kanakāngi (Janaka raga),S R1 G1 M1 P D1 N1 S,S N1 D1 P M1 G1 R1 S,1.0,Kanakāngi (Janaka raga),S-R1-G1-M1-P-D1-N1-S,1,Kanakāngi (Janaka raga),1.0
1,Kanakāmbari,Kanakāmbari,S R1 M1 P D1 S,S N1 D1 P M1 G1 R1 S,0.0,Kanakāngi (Janaka raga),S-R1-M1-P-D1-S,1,Kanakāmbari,1.0
2,Kanakatodi,Kanakatodi,S R1 G1 M1 P D1 S,S N1 D1 P M1 R1 S,0.0,Kanakāngi (Janaka raga),S-R1-G1-M1-P-D1-S,1,Kanakatodi,1.0
3,Mādhavapriyā,Mādhavapriyā,S R1 G1 P D1 N1 S,S N1 D1 P G1 R1 S,0.0,Kanakāngi (Janaka raga),S-R1-G1-P-D1-N1-S,1,Mādhavapriyā,1.0
4,Karnātaka Shuddha Sāveri,Karnātaka Shuddha Sāveri,S R1 M1 P D1 S,S D1 P M1 R1 S,0.0,Kanakāngi (Janaka raga),S-R1-M1-P-D1-S,1,Karnātaka Shuddha Sāveri,1.0
...,...,...,...,...,...,...,...,...,...,...
1007,NaN,0,NaN,NaN,NaN,Rasikapriyā,nan,1,0,NaN
1008,NaN,0,NaN,NaN,NaN,Rasikapriyā,nan,1,0,NaN
1009,NaN,0,NaN,NaN,NaN,Rasikapriyā,nan,1,0,NaN
1010,NaN,0,NaN,NaN,NaN,Rasikapriyā,nan,1,0,NaN
1011,NaN,0,NaN,NaN,NaN,Rasikapriyā,nan,1,0,NaN